body {
	margin: 0px;
}
img {
	width: 30px;
	height: 30px;
}
canvas {
	width: 100%;
	height: calc(100% - 60px) !important;
	border-style: solid;
	border-width: 1px;
	background: transparent;
}
.cover_canvas {
	margin-top: 30px;
	position: relative;
}
.textabox {
    top: 5px;
    position: absolute;
    left: 8px;
    font-size: 20px;
}
.publish_button {
    background-color: blue;
    font-weight: 700;
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-family: sans-serif;
    cursor: pointer;
}
.paint-icon {
	background-image: url(paint.png);
	background-size: 30px 30px;
}
#text_box {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1px;
	height: 1px;
	display: none;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}
#text_box textarea{
	width:100%;
	height: 100%;
}
.icons {
	width:30px;
	height: 30px;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	margin-left: 3px;
	position: relative;
	cursor: pointer;
}
.narrow-icon {
	width:85%;
	left:5%;
	height:3px;
	position:absolute;
	top:5px;
	background-color:black;
}
.wide-icon {
	width:85%;
	left:5%;
	height:5px;
	position:absolute;
	top:12px;
	background-color:black;
}
.wider-icon {
	width:85%;
	left:5%;
	height:7px;
	position:absolute;
	top:20px;
	background-color:black;
}
#prod_place {
	width: 5px;
	height: 5px;
	position: fixed;
	display: none;
	background-color: orange;
	border-radius: 50%;
}
.sub-icons {
	width:30px;
	height: 30px;
	float: left;
	border-style: solid;
	border-width: 1px;
	border-color: gray;
	margin-left: 3px;
	margin-top: 3px;
	position: relative;
	cursor: pointer;
}
.line-icon {
	height: 3px;
    width: 96%;
    background: black;
    position: absolute;
    top: 15px;
    margin-left: 2%;
}
.headline {
	margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 30px;
    background-color: red;
    color: white;
    padding-left: 2px;
}
.eraser {
	background-image: url(eraser.png);
	background-size: 28px 28px;
	background-repeat: no-repeat;
}
.draw-circle-icon {
	border-radius: 50%;
	border-color: gray;
	border-style: solid;
	height: 20px;
	width: 20px;
	margin-top: 2px;
	margin-left: 2px;
}
